Day-11

Sets in python

Creating a set

In [5]:
a = { "animals", "ball", "cat"}
print(a)
print(type(a))

{'cat', 'animals', 'ball'}
<class 'set'>

Sets items are unorderred

In [6]:
a = { "animals", "ball", "cat"}
print(a[1])

TypeError: 'set' object is not subscriptable

Dublicates are not allowed

In [7]:
a = { "animals", "ball", "cat", "ball","cat","ball"}
print(a)

{'cat', 'animals', 'ball'}

In set true and 1 are considered are same value

In [13]:
a = { "animals", "ball", "cat",1,False,True,2,7,4}
print(a)

{'cat', 1, 2, False, 4, 'ball', 7, 'animals'}

Get the lenght of the set

In [14]:
a = { "animals", "ball", "cat",1,False,True,2,7,4}
print(len(a))

8

In [15]:
x = {[1,2,3,4,5]}
print(x)

TypeError: unhashable type: 'list'

Important: Lists are mutable and hence unhashable objects in python. Where sets are immutable and does not allow unhashable objects.
Therefore, python does not allow a set to store a list. You cannot add a list to a set.

Immutablle objects are a type of object that cannot be modified after they were create.

In [16]:
x= {(1,2,3,4,5,6)}
print(x)

{(1, 2, 3, 4, 5, 6)}

In [17]:
y = {{"a":1,
      "b":2}}
print(y)

TypeError: unhashable type: 'dict'

Nested isnot a property of a set

In [20]:
a = {(1,2,3),(4,5,6)}
print(a)
print(type(a))

{(1, 2, 3), (4, 5, 6)}
<class 'set'>

The set() constructor

In [21]:
set = set(("hi","hello","pagali"))
print(set)
print(type(set))

{'hello', 'hi', 'pagali'}
<class 'set'>

Creating empty set

In [22]:
a = {}
print(a)
print(type(a))

{}
<class 'dict'>

In [24]:
b = set()
print(type(b))

TypeError: 'set' object is not callable

Access items

You cannot access items in a set by reffering to an index or a key.
But you can loop through the sets items using a for loop or ask if a specified value is preser set by using the in keyword.

In [27]:
a = {"a","b","c","d"}

for x in a:
    print(a)

{'c', 'b', 'a', 'd'}
{'c', 'b', 'a', 'd'}
{'c', 'b', 'a', 'd'}
{'c', 'b', 'a', 'd'}

Check if item is present in a set

In [29]:
a = {"a","b","c","d"}
print("a" in a)
print("f" in a)

True
False

Add items
Once a set is created, you cannot its items, but you can add new items.

In [30]:
a = {"a","b","c","d",1,2,3}
a.add("h")
print(a)

{1, 2, 3, 'b', 'h', 'c', 'a', 'd'}

In [3]:
x = {"data","python","code"}
y = {10,20,60,40,80}

x.update(y)

print(x)
print(len(x))
print(type(x))

{40, 10, 'data', 80, 'code', 20, 'python', 60}
8
<class 'set'>

Remove set items

In [7]:
z= {40, 10, 'data', 80, 'code', 20, 'python', 60}
z.remove(40)
print(z)

{'python', 10, 80, 'data', 20, 'code', 60}

You can use pop() methos to remove but it rremove rendom items for the set

In [8]:
m= {40, 10, 'data', 80, 'code', 20, 'python', 60}
x= m.pop()
print(x)
print(m)

python
{40, 10, 80, 'data', 20, 'code', 60}

In [9]:
m= {40, 10, 'data', 80, 'code', 20, 'python', 60}
x= m.pop()
print(x)
print(m)

python
{40, 10, 80, 'data', 20, 'code', 60}

The clear() methos empties the set

In [10]:
m= {40, 10, 'data', 80, 'code', 20, 'python', 60}
m.clear()
print(m)

set()

del keyword will delete the set completely

In [11]:
m= {40, 10, 'data', 80, 'code', 20, 'python', 60}
del m
print(m)

NameError: name 'm' is not defined

Join two sets

In [4]:
x = {"a", "b" "c"}
y = {1,2,3}

z = x.union(y)
print(z)

{'bc', 1, 2, 3, 'a'}

Write a python program to find the max and min values in a set

In [7]:
n = {1,2,3,5,28,189,33}
print(type(n))
print(max(n))
print(min(n))

<class 'set'>
189
1

Intersection of  two sets

In [8]:
set1 = {1,6,9,3,5}
set2 = {2,7,4,9,5,}
print(set1.intersection(set2))

{9, 5}