Day-8

List in Python

Creating a list

In [1]:
mylist = ["apple","banana","cherry"]
print(mylist)
print(type(mylist))

['apple', 'banana', 'cherry']
<class 'list'>

List allow duplicates, changable and mutable.

In [2]:
mylist = ["apple","banana","cherry","apple","mango","banana"]
print(mylist)

['apple', 'banana', 'cherry', 'apple', 'mango', 'banana']

List items - Data types

In [3]:
list1 = ["apple","banana","cherry"]
list2= [1,2,3,4,5]
list3= [2.4,5.7,2.4]
list4= [True, False]
print(list1)
print(list2)
print(list3)
print(list4)
list= ["apple",3,6.7,True]
print()
print(list)

['apple', 'banana', 'cherry']
[1, 2, 3, 4, 5]
[2.4, 5.7, 2.4]
[True, False]

['apple', 3, 6.7, True]

List length

In [4]:
mylist = ["apple","banana","cherry","apple","mango","banana",5.7,True]
print(len(mylist))

8

Access Items

In [5]:
list1 = [12,56,8,56,34,65,76]
print(list1[0])
print(list1[-1])

12
76

Slicing of List

In [6]:
list1 = [12,56,8,56,34,65,76]
print(list1[0:6])

[12, 56, 8, 56, 34, 65]

In [7]:
list1 = [12,56,8,56,34,65,76]
print(list1[0:])

[12, 56, 8, 56, 34, 65, 76]

In [8]:
list1 = [12,56,8,56,34,65,76]
print(list1[0:7:3])

[12, 56, 76]

Change list items

In [9]:
list2 = ["apple","mango","banana"]
list2[1]="grapes"
print(list2)

['apple', 'grapes', 'banana']

In [10]:
print(list2)

['apple', 'grapes', 'banana']

In [11]:
list2 = ["apple","mango","banana"]
list2[2]= 34
print(list2)

['apple', 'mango', 34]

Change a range of item values

In [12]:
a = [3,5,7,45,65,12,31,90,65,34,2]
a[2:4] =  ["apple","mango","banana"]
print(a)

[3, 5, 'apple', 'mango', 'banana', 65, 12, 31, 90, 65, 34, 2]

Add list items

Append items

In [13]:
list2 = ["apple","mango","banana"]
list2.append("Guava")
print(list2)

['apple', 'mango', 'banana', 'Guava']

In [14]:
a = [3,5,7,45,65,12,31,90,65,34,2]
a.append(67)
print(a)

[3, 5, 7, 45, 65, 12, 31, 90, 65, 34, 2, 67]

Remove list items

In [15]:
list2 = ["apple","mango","banana"]
list2.remove("apple")
print(list2)

['mango', 'banana']

Join List

In [16]:
list1 = ["apple","mango","banana"]
list2 = [3,5,7,45,65,12,31,90,65,34,2]
list3 = list1 +list2
print(list3)

['apple', 'mango', 'banana', 3, 5, 7, 45, 65, 12, 31, 90, 65, 34, 2]

Check if a list contains an element

In [17]:
list = [1,4,6,"a","h"]
"a" in list
# "a" in list

True

In [18]:
list = [1,4,6,"a","h"]
# "a" in list
"b" in list

False

Reversing a list

In [19]:
mylist = [2,7,5,6,"Hi","Hello"]
mylist.reverse()
print(mylist)

['Hello', 'Hi', 6, 5, 7, 2]

Program to interchange first and last element ina list

In [20]:
a = [3,5,7,45,65,12,31,90,65,34,2]
print(a)

print(len(a))
b = a[0]
a[0] = a[10]
a[10] =b
print(a)

[3, 5, 7, 45, 65, 12, 31, 90, 65, 34, 2]
11
[2, 5, 7, 45, 65, 12, 31, 90, 65, 34, 3]

Find the sum of all the elements in the list

In [21]:
a = [3,5,7,45,65,12,31,90,65,34,2]
b=0
for i in range(10):
    b=b+a[i]
    i=i+1
    print(b)

3
8
15
60
125
137
168
258
323
357