Day-9

Tuples

Creating a tuple

In [1]:
tuple = (1,2,4)
print(tuple)
print(type(tuple))

(1, 2, 4)
<class 'tuple'>

With mix data types

In [2]:
my_tuple = (1,"Hi",2.5,True)
print(my_tuple)
print(type(my_tuple))

(1, 'Hi', 2.5, True)
<class 'tuple'>

Empty Tuple

In [3]:
t= ()
print(t)
print(type(t))

()
<class 'tuple'>

Nested tuple

In [8]:
t1 = ("Nitish",[2,5,4],(2,8,3))
print(t1)
print(type(t1))
print(t1[1])
print(t1[1][2])

('Nitish', [2, 5, 4], (2, 8, 3))
<class 'tuple'>
[2, 5, 4]
4

Note: Create a python tuple with one element

In [9]:
var1 = ("Hello")
print(var1)
print(type(var1))

Hello
<class 'str'>

In [10]:
var2 = ("Hi",)
print(var2)
print(type(var2))

('Hi',)
<class 'tuple'>

The tuple constructor

In [3]:
thistuple = tuple(("a","b"))
print(thistuple)
print(type(thistuple))

('a', 'b')
<class 'tuple'>

Indexing

In [14]:
var = (1,3,7.9,"Nik",True,3+9j)
print(var[2])
print(var[-2])
print(var)

7.9
True
(1, 3, 7.9, 'Nik', True, (3+9j))

Slicing

In [19]:
a = (34,76,45,90,5,23,65,79)
print(len(a))
print(a[0:4])
print(a[:6])
print(a[:])
print(a[::2])

8
(34, 76, 45, 90)
(34, 76, 45, 90, 5, 23)
(34, 76, 45, 90, 5, 23, 65, 79)
(34, 45, 5, 65)

Reversing the tuple

In [20]:
a = (34,76,45,90,5,23,65,79)
print(len(a))
print(a[::-1])

8
(79, 65, 23, 5, 90, 45, 76, 34)

Note: Dublicates are allowed in tuples

In [21]:
a = (34,76,6,45,90,5,23,6,76,5,79)
print(a)

(34, 76, 6, 45, 90, 5, 23, 6, 76, 5, 79)

Tuple is unchangable after creating. So, it is immutable.

We can convert a tuple in to list then able to alter.

In [2]:
x= (2,4,6,4)
x[2]=9;
print(x)

TypeError: 'tuple' object does not support item assignment

In [1]:
y= ("python","java","html")
z = list(y)
z[1]="ML"
y= tuple(z)
print(y)

('python', 'ML', 'html')

Since tuples are immutable they do not have a build-in append() method, but there are other ways to add items to a tuple.

In [5]:
a = (23,65,78,45)
b= list(a)
b.append("Apple")
a = tuple(b)
print(a)
print(type(a))
print(type(b))

(23, 65, 78, 45, 'Apple')
<class 'tuple'>
<class 'list'>

Add tuple to a tuple

In [6]:
x = ("python", "java","javscript")
y = ("CSS",)
x +=y
print(x)

('python', 'java', 'javscript', 'CSS')

Tuple are immputable. Hence you cant remove the elements. But you can do in a same maner to make this list firts.

In [7]:
x= (3,4,7,8,2,0)
y = list(x)
y.remove(4)
x= tuple(y)
print(x)

(3, 7, 8, 2, 0)

del keyword delete the tuple completely

In [8]:
a = (3,7,5,6,9,0,1)
del(a)
print(a)

NameError: name 'a' is not defined

Loop through a tuple

In [9]:
a= ("x", "y", "z")
for i in a:
    print(a)

('x', 'y', 'z')
('x', 'y', 'z')
('x', 'y', 'z')

While loop

In [11]:
  
a= ("x", "y", "z")
i=0
while i <len(a):
    print(a[i])
    i=i+1

x
y
z

Join two tuples

In [12]:
a = (1,3,5,7,8,9)
b = ("Hi","Hello")
c = a +b
print(c)
print(type(c))

(1, 3, 5, 7, 8, 9, 'Hi', 'Hello')
<class 'tuple'>

Multiple the tuples

In [14]:
b = ("Hi","Hello")
d = b*5
print(d)
print(type(d))

('Hi', 'Hello', 'Hi', 'Hello', 'Hi', 'Hello', 'Hi', 'Hello', 'Hi', 'Hello')
<class 'tuple'>

Write a python program to find repeated items in a tuple

In [17]:
# Create a tuple
tuplex = 2,3,5,7,3,8,9,3,3,3,7
print(tuplex)
# Return the number of times it appears in the tuple
count = tuplex.count(3)
print(count)

(2, 3, 5, 7, 3, 8, 9, 3, 3, 3, 7)
5

Write a program to accept 5 numbers from the user and store it in a tuple

In [18]:
t = ()
i=0
while i<=5:
    num = int(input("Enter the number:"))
    t =t + (num,)
    i =i+1
    print(t)

(4,)
(4, 2)
(4, 2, 4)
(4, 2, 4, 6)
(4, 2, 4, 6, 7)
(4, 2, 4, 6, 7, 8)